<h2>Editing client: <%= @sheet.id %> details</h2>

<%= form_with(model: @sheet, local: true) do |f| %>
  <ul>
    <li>
  <%= f.label :customer %>
  <%= f.text_field :customer %>
    </li>
    <li>
  <%= f.label :received_date %>
  <%= f.date_field :received_date %>
    </li>
    <li>
  <%= f.label :rims %>
  <%= f.text_field :rims %>
    </li>
    <li>
  <%= f.label :info %>
  <%= f.text_area :info, rows: 7 %>
    </li>
    <li>
  <%= f.label :rim_tape %>
  <%= f.text_field :rim_tape %>
    </li>
    <li>
  <%= f.label :holes %>
  <%= f.number_field :holes %>
    </li>
    <li>
  <%= f.label :rim_erd %>
  <%= f.number_field :rim_erd %>
    </li>
    <li>
  <%= f.submit %>
    </li>
  </ul>
<% end %>
