<ul>
  <h3>Orders for <%= full_name @customer %></h3>
  <% @sheets.each do |sheet| %>
    <p>Received on: <%= uk_date sheet.received_date %><br>
    New build?: <%= new_build_text sheet.new_build %><br>
    Notes: <%= sheet.info %><br>
  <%= link_to "full details", customer_sheet_path(@customer, sheet) %>
    </p>
  <% end %>
</ul>
<p><%= link_to "Add new order sheet", new_customer_sheet_path(@customer) %>
