<ul>
  <% @sheets.each_with_index do |sheet, i| %>
    <% client = "Client #{i + 1}: #{sheet.customer}" %>
    <li><%= link_to client, customer_sheet_path(sheet) %></li>
    <p>Received on: <%= uk_date sheet.received_date %><br>
    New build?: <%= new_build_text sheet.new_build %><br>
    Notes: <%= sheet.info %>
    </p>
  <% end %>
</ul>
<p><%= link_to "Add new order sheet", new_customer__sheet_path %>
