<h2>Order details (<%= link_to "Edit", edit_sheet_path(@sheet) %>) (<%= link_to "Delete", sheet_path(@sheet), method: :delete, data: {confirm: "Sure about that?"} %>)</h2>
<p><b>Customer:</b> <%= @sheet.customer %></p>
<p><b>Date recevied:</b> <%= uk_date @sheet.received_date %>
<p><b>Additional info:</b><br>
<%= @sheet.info %></p>
