<h2>List of all <%= @customers.all.count %> customers [<%= link_to "Add new", new_customer_path %>]</h2>
<ul>
  <% @customers.each do |c| %>
    <li><%= link_to full_name(c), customer_path(c) %>
    (<%= c.email %>) <%= pluralize c.sheets.size, "order" %></li>
  <% end %>
</ul>
