<h2>Client Details <%= link_to "[Edit]", edit_customer_path(@customer) %></h2>
<p>Name: <%= full_name(@customer) %></p>
<p>Email: <%= @customer.email %></p>
<p>Phone: <%= @customer.phone %></p>
<p>Notes: <%= @customer.notes %></p>
<p><%= link_to "See orders", customer_sheets_path(@customer) %>
<p><%= link_to "All customers", customers_path %>
