<!DOCTYPE html>
<html>
  <head>
    <title>Sheetz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Wheel Building with Arup</h1>
    </header>
    <%= yield %>
    <footer>
      <p>&copy; arup sen <%= Time.now.year %></p>
    </footer>
  </body>
</html>
